+++
title = "CoLearn.Dev"
linkTitle = "CoLearn.Dev"

+++

{{< blocks/cover title="CoLearn.Dev" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4">
		Stay Tuned <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<!---
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	--->
	<p class="lead mt-5">A secure way for data collaboration</p>

</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
CoLearn.Dev provides a framework that handles storage, communication and provides multi-party data collaboration abstractions. It has the potential to enable larger-scale decentralized data collaboration and unlock the true value of data.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa fa-envelope" title="Subscribe to our mailing list!" url="https://groups.google.com/g/colearn-dev" %}}
Discuss development issues around the project.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-slack" title="Join us on Slack!" url="https://join.slack.com/t/colearn-dev/shared_invite/zt-1e8i9p0ww-whYVN1HSY~aBJ3Cq_IzwIA" %}}
Chat with other project developers!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/CoLearn-Dev" %}}
Development takes place here!
{{% /blocks/feature %}}

{{< /blocks/section >}}



{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
