+++
title = "CoLearn.Dev"
linkTitle = "CoLearn.Dev"

+++

{{< blocks/cover title="CoLearn.Dev" image_anchor="top" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://join.slack.com/t/colearn-dev/shared_invite/zt-1e8i9p0ww-whYVN1HSY~aBJ3Cq_IzwIA">
		Stay Tuned <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<!---
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	--->
	<p class="lead mt-5">An open-source platform that accelerates the research, development, and deployment of decentralized data science</p>

</div>
{{< /blocks/cover >}}

{{% blocks/section color="primary" %}}

<div class="col-12">
	<h2 class="text-center">What is CoLearn.Dev</h2>
</div>
<div class="col-12">
	<h5 class = "mt-4">Data collaboration is a common need in many fields: finance, health care, cybersecurity... However, protecting security and privacy in decentralized data collaborations can be challenging. Running certain types of computations without sharing the original data input across different participants often requires complicated system and protocol design, not to mention implementation and deployment obstacles.</h5>
	<h5 class = "mt-5">To design a privacy-preserving system, you need to at least have the abstraction for user authentication, access control, network communication, storage... for a start.</h5>
	<h5 class = "mt-4">To design a privacy-preserving protocol, you need to understand the basics of security, privacy, cryptographic building blocks...</h5>
	<h5 class = "mt-5">CoLearn.Dev is an open-source platform that accelerates the research, development, and deployment of decentralized data science. CoLearn provides flexible programming abstractions (user, storage, computation) and tools (SDKs, server implementation, data registry, protocol inventory) to help developers explore existing privacy-preserving technologies and also build new solutions that are reusable by others.</h5>
</div>

{{% /blocks/section %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa fa-envelope" title="Subscribe to our mailing list!" url="https://groups.google.com/g/colearn-dev" %}}
Discuss development issues around the project.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-slack" title="Join us on Slack!" url="https://join.slack.com/t/colearn-dev/shared_invite/zt-1e8i9p0ww-whYVN1HSY~aBJ3Cq_IzwIA" %}}
Chat with other project developers!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/CoLearn-Dev" %}}
Development takes place here!
{{% /blocks/feature %}}

{{< /blocks/section >}}



<!--{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}-->
